Repository piyushgarg-dev/piyushgargdev-nextjs, pull requests merged in 2023-06, with the labels that each got.

#73 fix: heroImage right margin fix
  styles/hero.module.css
Labels: good first issue, UI/UX, Amazing

#51 Feature/email redirect
  components/UI/Contact.jsx
Labels: Amazing

#15 fix: Youtube Stats on Home Page
  pages/index.js
Labels: Amazing

#48 Fix: #11 Testimonial's Arrow Keys
  components/UI/Testimonial.jsx
Labels: needs-clarification, Amazing

#50 Fix: #26 Youtube Stats Mobile View Alignment
  components/UI/Services.jsx
Labels: Amazing

#44 fix: added cursor pointer to the youtube video slider
  components/UI/Services.jsx
Labels: Amazing

#93 fix: make tags responsive in portfolio Items
  components/UI/PortfolioItem.jsx
  styles/portfolio-item.module.css
Labels: good first issue, UI/UX

#66 fix: [Fix #59] Implement mobile navbar close menu
  components/Header/Header.jsx
  components/UI/PortfolioItem.jsx
  package.json
  styles/portfolio-item.module.css
  yarn.lock
Labels: good first issue, UI/UX, Amazing

#108 feat: added video link to setting up tutorial
  README.md
Labels: documentation, help wanted

#40 feat: Added Contact Form on Homepage with Google Sheet API
  .env.example
  .gitignore
  components/UI/Blog.jsx
  components/UI/Contact.jsx
  package.json
  pages/api/contact.js
  yarn.lock
Labels: Amazing

#101 fix: icons coming out from box
  components/UI/PortfolioItem.jsx
  styles/portfolio-item.module.css
Labels: good first issue, UI/UX

#121 feat: Added hover On Social Media Icons
  components/Header/Header.jsx
  components/Header/header.module.css
Labels: UI/UX

#127 fix: typo in feeddacks
  components/UI/Testimonial.jsx
Labels: bug, good first issue

#138 fix: contact form container responsive fixed
  components/UI/Contact.jsx
Labels: UI/UX

#135 feat: word change from "contact" to "connect" in contact page
  components/UI/Contact.jsx
Labels: bug

#142 fix: Testimonials button alignment issue
  components/UI/Testimonial.jsx
  styles/testimonial.module.css
Labels: good first issue, Amazing

#150 feat: Replaced previous social media icons with filled version.
  components/Header/Header.jsx
  components/UI/Contact.jsx
Labels: good first issue, UI/UX

#145 feat: Added navigation icons for small screens
  components/Header/Header.jsx
  components/Header/header.module.css
  package-lock.json
  yarn.lock
Labels: UI/UX, Amazing, conflict

#158 fix: #118 Added hover effect on the social media icons.
  components/Header/header.module.css
  styles/contact.module.css
Labels: UI/UX

#110 fix: alignment of discord button and Piyush's pic
  components/UI/Hero.jsx
  styles/hero.module.css
Labels: Amazing

#100 fix: courses keywords responsive and recent blogs overlapping
  .eslintrc.json
  components/UI/Blog.jsx
  components/UI/Courses.jsx
  components/UI/PortfolioItem.jsx
  styles/portfolio-item.module.css
Labels: good first issue, UI/UX, Amazing

#170 fix: Contact me Text Alignment
  components/UI/Contact.jsx
Labels: good first issue

#172 fix: changes in header height and duplicate use of style in blog
  components/Header/header.module.css
  components/UI/Blog.jsx
Labels: bug

#178 fix: 'Blogs link'(different url) in the navbar opens in different page
  components/Header/Header.jsx
Labels: bug

#182 [fixed]: hover color nav right icons from #value to root value
  components/Header/Header.jsx
  yarn.lock
Labels: bug

#180 fix: my gears page top card height
  components/UI/PortfolioItem.jsx
Labels: bug, good first issue
